*{
    margin: 5px; 
    padding: 5px;
    box-sizing: border-box;
}  

body{
    font-family: 'Tapestry', cursive;
}

a{
    margin: 15px;
}

p{
    margin: 10px;
    padding: 10px;
    width: 300px;
    border: 1px solid red;
}